---
http_interactions:
- request:
    method: post
    uri: https://express.tnt.com/expressconnect/shipping/ship
    body:
      encoding: UTF-8
      string: xml_in=%3C%3Fxml+version%3D%221.0%22+encoding%3D%22UTF-8%22%3F%3E%3CESHIPPER%3E%3CLOGIN%3E%3CCOMPANY%3E~TNT_USERNAME~%3C%2FCOMPANY%3E%3CPASSWORD%3E~TNT_PASSWORD~%3C%2FPASSWORD%3E%3CAPPID%3EEC%3C%2FAPPID%3E%3CAPPVERSION%3E3.0%3C%2FAPPVERSION%3E%3C%2FLOGIN%3E%3CCONSIGNMENTBATCH%3E%3CSENDER%3E%3CCOMPANYNAME%3ELunet+Studio+SRL%3C%2FCOMPANYNAME%3E%3CSTREETADDRESS1%3EBld.+Lascar+Catargiu+15A%2C+12%2C+Sector+1%3C%2FSTREETADDRESS1%3E%3CCITY%3EBucharest%3C%2FCITY%3E%3CPOSTCODE%3E010661%3C%2FPOSTCODE%3E%[...]
- request:
    method: post
    uri: https://express.tnt.com/expressconnect/shipping/ship
    body:
      encoding: UTF-8
      string: xml_in=GET_RESULT%3A8591504415
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Wily-Info:
      - Clear guid=AE3DCEF60AD2EA8C2C5A2C5A1AC0796B
      X-Wily-Servlet:
      - Encrypt1 hR/KG2GOR16aRfvv3/q1Ad5uT+eFRPmbRRHNC83W4p9tTEDx66jFEaWXoX0soevZxvVLPT4M8/QqDNhqtwsasrd3VIbriJ05hX8ChkxfBgekWJuBKLXEPeGST6LGOdRj8Yri2fQJK5GzqALGicm2zxQKjjHgt6R8XGi/4LVifbgGM7HsRR0CmaBFRO/EkQXO
      Content-Type:
      - application/x-www-form-urlencoded
      Content-Language:
      - en-GB
      Proxy-Connection:
      - Keep-Alive
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><document><CREATE><CONREF>LNT_REF</CONREF><CONNUMBER>GE526967072RO</CONNUMBER><SUCCESS>Y</SUCCESS></CREATE><BOOK><CONSIGNMENT><CONREF>LNT_REF</CONREF><CONNUMBER>GE526967072RO</CONNUMBER><SUCCESS>Y</SUCCESS></CONSIGNMENT></BOOK><SHIP><CONSIGNMENT><CONREF>LNT_REF</CONREF><CONNUMBER>GE526967072RO</CONNUMBER><SUCCESS>Y</SUCCESS></CONSIGNMENT></SHIP></document>
  recorded_at: Thu, 16 Jan 2020 12:04:43 GMT
recorded_with: VCR 5.0.0
