---
http_interactions:
- request:
    method: post
    uri: https://express.tnt.com/expressconnect/shipping/ship
    body:
      encoding: UTF-8
      string: xml_in=%3C%3Fxml+version%3D%221.0%22+encoding%3D%22UTF-8%22%3F%3E%3CESHIPPER%3E%3CLOGIN%3E%3CCOMPANY%3E~TNT_USERNAME~%3C%2FCOMPANY%3E%3CPASSWORD%3E~TNT_PASSWORD~%3C%2FPASSWORD%3E%3CAPPID%3EEC%3C%2FAPPID%3E%3CAPPVERSION%3E3.0%3C%2FAPPVERSION%3E%3C%2FLOGIN%3E%3CCONSIGNMENTBATCH%3E%3CSENDER%3E%3CCOLLECTION%3E%3CCOLLECTIONADDRESS%3E%3C%2FCOLLECTIONADDRESS%3E%3CSHIPDATE%3E17%2F01%2F2020%3C%2FSHIPDATE%3E%3CPREFCOLLECTTIME%3E%3CFROM%3E09%3A00%3C%2FFROM%3E%3CTO%3E16%3A00%3C%2FTO%3E%3C%2FPREFCOLLECTTIME[...]
- request:
    method: post
    uri: https://express.tnt.com/expressconnect/shipping/ship
    body:
      encoding: UTF-8
      string: xml_in=GET_RESULT%3A4509504419
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Wily-Info:
      - Clear guid=AE3DD4F60AD2EA8C2C5A2C5A697AEB42
      X-Wily-Servlet:
      - Encrypt1 hR/KG2GOR16aRfvv3/q1Ad5uT+eFRPmbRRHNC83W4p9tTEDx66jFEaWXoX0soevZxvVLPT4M8/QqDNhqtwsasrd3VIbriJ05hX8ChkxfBgekWJuBKLXEPeGST6LGOdRj8Yri2fQJK5GzqALGicm2zxQKjjHgt6R8XGi/4LVifbgGM7HsRR0CmaBFRO/EkQXO
      Content-Type:
      - application/x-www-form-urlencoded
      Content-Language:
      - en-GB
      Proxy-Connection:
      - Keep-Alive
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><parse_error><error_reason>cvc-complex-type.2.4.a:
        Invalid content was found starting with element ''COLLECTION''. One of ''{COMPANYNAME}''
        is expected.</error_reason><error_line>1</error_line><error_linepos>201</error_linepos><error_srcText></error_srcText></parse_error>'
  recorded_at: Thu, 16 Jan 2020 12:04:45 GMT
recorded_with: VCR 5.0.0
